<!-- <div class="card card-user">
  <div class="card-body">
  <div class="card-header">
    <h1 class="card-title">Login</h1>
  </div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input class="form-control" id="inputEmail" placeholder="Email" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input class="form-control" id="inputPassword" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </div>
</form>
</div>
</div> -->
