<div class="card card-user">    
        <div class="card-header">
          <h2 class="card-title" #target style="text-align: center">Update Branch Details</h2>
          <a routerLink="../../show-branches" class="btn btn-primary btn-circle"  style="float: right;" ><i class="fa  fa-arrow-right"></i></a>
        </div>
    
        <div class="card-body">
            <div class="col-sm-offset-2">
              <p class="alert alert-danger" *ngIf="errorMsg">
                <strong>{{ errMsg }}</strong>
              </p>
            </div>
        
            <div class="col-sm-offset-2">
              <p class="alert alert-success" *ngIf="successMessage">
                <strong>{{ successMsg }}</strong>
              </p>
            </div>
        
            <form class="form-horizontal" role="form" [formGroup]="updateBranchForm" (ngSubmit)="updateBranchFormData()" 
            *ngFor="let list of branchData" novalidate>
              <div class="form-group">
                <label class="col-sm-6 control-label"><b>Name (to appear on reports):&nbsp;<span style="color: darkred">*</span></b></label>
                <div class="col-sm-offset-2">
                  <input class="form-control" type="text" id="inputName" placeholder="Enter Branch Name" value="{{ list.name }}" formControlName="name"
                    >
                  <div *ngFor="let validation of validationMessage.name">
                    <div class="alert alert-danger"
                      *ngIf="updateBranchForm.get('name').hasError(validation.type) && (updateBranchForm.get('name').dirty || updateBranchForm.get('name').touched)"
                      class="alert alert-danger">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </div>
        
        
              <div class="form-group">
                <label class="col-sm-6 control-label"><b>Address:&nbsp;<span style="color: darkred">*</span></b></label>
                <div class="col-sm-offset-2">
                  <textarea class="form-control" id="inputAddress" placeholder="Address" value="{{ list.address }}" formControlName="address"
                    ></textarea>
                  <div *ngFor="let validation of validationMessage.address">
                    <div class="alert alert-danger"
                      *ngIf="updateBranchForm.get('address').hasError(validation.type) && (updateBranchForm.get('address').dirty || updateBranchForm.get('address').touched)"
                      class="alert alert-danger">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="form-group">
                <label class="col-sm-6 control-label"><b>Phone Number:</b></label>
                <div class="col-sm-offset-2">
                  <input class="form-control" type="text" id="inputPhone" placeholder="Enter Phone Number" value="{{ list.phone }}"
                    formControlName="phone">
                  <div *ngFor="let validation of validationMessage.phone">
                    <div class="alert alert-danger"
                      *ngIf="updateBranchForm.get('phone').hasError(validation.type) && (updateBranchForm.get('phone').dirty || updateBranchForm.get('phone').touched)"
                      class="alert alert-danger">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="form-group">
                <label class="col-sm-6 control-label"><b>Fax Number:</b></label>
                <div class="col-sm-offset-2">
                  <input class="form-control" type="text" id="inputFax" placeholder="Enter Fax Number:" value="{{ list.fax }}" formControlName="fax">
                  <div *ngFor="let validation of validationMessage.fax">
                    <div class="alert alert-danger"
                      *ngIf="updateBranchForm.get('fax').hasError(validation.type) && (updateBranchForm.get('fax').dirty || updateBranchForm.get('fax').touched)"
                      class="alert alert-danger">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-6 control-label"><b>BCC Address for all outgoing mails:</b></label>
                <div class="col-sm-offset-2">
                  <input class="form-control" type="email" id="inputBcc" placeholder="Enter BCC Address" value="{{ list.outGoingMails }}"
                    formControlName="outGoingMails">
                  <div *ngFor="let validation of validationMessage.outGoingMails">
                    <div class="alert alert-danger"
                      *ngIf="updateBranchForm.get('outGoingMails').hasError(validation.type) && (updateBranchForm.get('outGoingMails').dirty || updateBranchForm.get('outGoingMails').touched)"
                      class="alert alert-danger">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="form-group">
                <label class="col-sm-6 control-label"><b>Official Branch Number:&nbsp;<span style="color: darkred">*</span></b></label>
                <div class="col-sm-offset-2">
                  <input class="form-control" type="text" id="inputCompanyNo" placeholder="Enter Official Branch Number" value="{{list.officialNumber}}"
                    formControlName="officialNumber" >
                  <div *ngFor="let validation of validationMessage.officialNumber">
                    <div class="alert alert-danger"
                      *ngIf="updateBranchForm.get('officialNumber').hasError(validation.type) && (updateBranchForm.get('officialNumber').dirty || updateBranchForm.get('officialNumber').touched)"
                      class="alert alert-danger">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </div>
        
        
              <div class="form-group">
                <label class="col-sm-6 control-label"><b>GSTNo:</b></label>
                <div class="col-sm-offset-2">
                  <input class="form-control" type="text" id="inputGstno." placeholder="Enter GSTNo" value="{{ list.gstNumber }}"
                    formControlName="gstNumber">
                  <div *ngFor="let validation of validationMessage.gstNumber">
                    <div class="alert alert-danger"
                      *ngIf="updateBranchForm.get('gstNumber').hasError(validation.type) && (updateBranchForm.get('gstNumber').dirty || updateBranchForm.get('gstNumber').touched)"
                      class="alert alert-danger">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="form-group">
                <label class="col-sm-6 control-label"><b>Home Currency:</b></label>
                <select class="dropdown dropdown-toggle form-control" Name="HomeCurrency" formControlName="currency"  value="{{ list.currency }}">
                        <option class="dropdown-item" value="blank" selected disabled>Choose Home Currency</option>
                        <option class="dropdown-item" value="USD">USD</option>
                        <option class="dropdown-item" value="INR">INR</option>
                      </select>
              </div>
        
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success" (click)="scroll(target)" >Add Branches</button>
                </div>
              </div>
            </form>
            </div>
        </div>
        
    
