<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
  <div class="logo">
    <a routerLink="/pages" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../../../assets/image/logo.png">
      </div>
    </a>
    <a routerLink="/pages" style="cursor: pointer" class="simple-text logo-normal">
      AryaVrat payroll
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
        <li class="active">
            <a routerLink="/pages/dashboard/">
              <i class="fa fa-home"></i>
              <p>Dashboard</p>
            </a>
          </li>
      <li class="active" style="display:none">
        <a routerLink="/pages/company/">
          <i class="fa fa-home"></i>
          <p>Company</p>
        </a>
      </li>
      <li class="active">
        <a routerLink="/pages/sub-user/">
          <i class="fa fa-users"></i>
          <p>Sub-Users</p>
        </a>
      </li>
      <li class="active">
        <a routerLink="/pages/branches/">
          <i class="fa fa-building-o"></i>
          <p>Branches</p>
        </a>
      </li>
      <li class="active">
          <a routerLink="/pages/leave-types/">
            <i class="fa fa-user"></i>
            <p>Leave Types</p>
          </a>
        </li>
    </ul>
  </div>
